<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/home.css">
    <title>admin</title>
</head>
<style>
    .container {
        padding: 1rem;
        max-width: 800px;
        margin: 0 auto;
    }

    table {
        padding: 0;
        table-layout: fixed;
    }

    th,
    td {
        border: 1px solid #000;
        padding: .5rem;
    }
</style>

<body>
    <%- include('./partial/header.ejs') %>
        <h1>staff drivers page</h1>
        <div class="container">
            <% drivers.forEach(driver=> { %>
                <table>
                    <tr>
                        <th>full name</th>
                        <th>email</th>
                        <th>phone number</th>
                        <th>address</th>
                        <th>password</th>
                        <th>delete</th>
                    </tr>
                    <tr>
                        <td>
                            <%= driver.name %>
                        </td>
                        <td>
                            <%= driver.email %>
                        </td>
                        <td>
                            <%= driver.phoneNumber %>
                        </td>
                        <td>
                            <%= driver.address %>
                        </td>
                        <td>
                            <%= driver.password %>
                        </td>
                        <td>
                            <form action="/driver/<%=driver.id%>?_method=DELETE" method="POST">
                                <button>delete</button>
                            </form>
                        </td>
                    </tr>
                </table>

                <% }) %>
        </div>
</body>

</html>